---
---

@import "{{ site.theme }}";

@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,700';

// other useful colors #025159 #025373 #222 #BF6500 #028ABF #1790BF #BF6060 #012533 #F22494
body {
  background-color: #222;
  color: #fdfdfd;
  font-family: 'Libre Franklin', helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #0CDBF2;
}

h1 {
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  color: #00DBB5;
  font-weight: 500;
}

p, strong, em {
  color: #fdfdfd;
}

p {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

a {
  color: #0CDBF2; // or 00F283
  font-weight: inherit;
}

#main-title {
  text-align: center;
  a {
    color: #fdfdfd; 
  }
}

a:hover {
 color: #00F987;
 font-weight: inherit;
}

code, pre {
  color: #fafafa;
}
